<%= form_with(url: search_path, method: :post) do |form| %>
    <div class="input-group mb-5">
        <div class="col-8">
            <%= form.search_field :search, value: nil, class: "form-control", placeholder: "Search...", oninput: "this.form.requestSubmit()" %>
        </div>
        <div class="col-4">
            <%#= form.select :filter, ["Select Filter", "Dairy Free", "Gluten Free", "Kosher", "Peanut Free", "Vegan", "Vegetarian"], { :class => "form-select" } %>
            <select class="form-select" aria-label="filter" name="filter" id="filter">
                <option selected>Select Filter</option>
                <option value="Dairy Free">Dairy Free</option>
                <option value="Gluten Free">Gluten Free</option>
                <option value="Kosher">Kosher</option>
                <option value="Peanut Free">Peanut Free</option>
                <option value="Vegan">Vegan</option>
                <option value="Vegetarian">Vegetarian</option>
            </select>

        </div>
    </div>
<% end %>

<div id="menu-products-container">
    <%= render 'menu/products'%>
</div>